irssi/saved_colors
irssi/config.autosave
vim/bundle
vim/files
vim/view
vim/plugged
vim/autoload/plug.vim
irssi/away.log
utilities/async
utilities/prompt_pure_setup
.netrwhist
*.swp
vifm/vifminfo.json
vifm/vifminfo
zsh/pure/
nvim/tags
nvim/test.sh
nvim/.luarc.json
nvim/lazy-lock.json
nvim/luac
utilities/keys.sh
zsh/keys.sh

# API keys and secrets
api_keys
