@import "../../.config/farv/current/waybar.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 16px;
  background-color: @base;
  color: @text;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
}

#workspaces button.active {
  border-bottom: 2px solid @text;
}

#workspaces button.urgent {
  border-bottom: 2px solid @border;
}

#window,
#custom-media,
#custom-trackpad,
#idle_inhibitor,
#privacy,
#custom-cpu,
#battery,
#custom-network,
#bluetooth,
#custom-audio,
#custom-notification,
#custom-clock,
#custom-hostname {
  min-width: 12px;
  margin-right: 13px;
}

#custom-trackpad.disabled,
#idle_inhibitor.activated,
#custom-cpu.high,
#custom-hostname.attention,
#custom-audio.muted,
#custom-network.disconnected,
#custom-network.no-internet,
#custom-notification.notification,
#custom-notification.dnd-notification {
  color: @border;
}

#custom-media.paused {
  color: @muted;
}

tooltip {
  border: 1px solid @border;
  padding: 4px;
}

tooltip label {
  padding: 4px;
}
