[Desktop Entry]
Version=1.0
Name=Messenger
Comment=Messenger
Exec=chromium --new-window --ozone-platform=wayland --app="https://www.facebook.com/messages/" --name="Messenger" --class="Messenger"
Terminal=false
Type=Application
Icon=/home/tmadsen/.local/share/applications/icons/Messenger.png
StartupNotify=true
